@media (min-width: 375px) {
  header.masthead {
    background-attachment: fixed !important;
  }

  .experiences .container #accordion .title-society {
    justify-content: space-between !important;
    padding: 2rem;
  }
  .experiences .container #accordion .title-society > :nth-child(2) {
    display: block !important;
    fill: white;
    font-size: 1.6rem;
  }
  .experiences .card .title-society :nth-child(2) {
    transition: 0.3s transform ease-in-out;
  }
  .experiences .card > .collapsed .title-society :nth-child(2) {
    transform: rotate(180deg);
  }
}
@media (min-width: 500px) {
  .masthead .svg-header .sitting-man {
    display: none !important;
  }
  .masthead .svg-header .standing {
    display: inline !important;
    width: 16%;
    margin-right: 7%;
  }
  .masthead .svg-header .standing2 {
    display: inline !important;
    width: 23%;
    margin-left: 5%;
    transform: rotateY(180deg);
  }

  .modal-alert .modal-content .modal-header .modal-title > img {
    display: inline !important;
  }

  .section-mywe .container-fluid .div-mywe .mywe-text span {
    font-size: 2rem !important;
  }
}
@media (min-width: 780px) {
  .masthead .svg-header .illustration {
    display: inline !important;
    width: 47%;
  }
  .masthead .svg-header .standing {
    width: 9% !important;
    margin-right: 6% !important;
  }
  .masthead .svg-header .standing2 {
    width: 13% !important;
    margin-left: 5% !important;
  }
}
@media (min-width: 800px) {
  .my-parcours .container-fluid .title-parcours {
    font-size: 2.5em !important;
  }
  .my-parcours .container-fluid .div-parcours .div-school :nth-child(1) {
    font-size: 2.3rem !important;
  }
  .my-parcours .container-fluid .div-parcours .div-school :nth-child(2) {
    font-size: 1.3rem !important;
  }
  .my-parcours .container-fluid .div-parcours .div-school :nth-child(3) {
    font-size: 1.7rem !important;
  }
  .my-parcours .container-fluid .div-parcours .div-school .icon-school {
    width: 2.3rem !important;
  }

  .title-experiences .container-fluid .title-exp {
    font-size: 2.5em !important;
  }

  .experiences .container #accordion .title-society {
    background-color: #000000ab !important;
  }
  .experiences .container #accordion .title-society span {
    font-size: 2.3rem !important;
  }
  .experiences .container #accordion .card-body .descr-exp {
    font-size: 1.1rem !important;
  }

  .title-work .container .title-wrk {
    font-size: 2.5em !important;
  }

  .my-work .container {
    flex-direction: row !important;
  }
  .my-work .container .box {
    height: 25vw;
    margin-bottom: 0 !important;
  }
  .my-work .container .box img {
    width: 200% !important;
  }
  .my-work .container .box:hover > img {
    width: 100% !important;
  }
  .my-work .container .box .work-name {
    background-color: transparent !important;
  }
  .my-work .container .box .work-name :nth-child(1) {
    font-size: 1.8rem !important;
  }
  .my-work .container .box .work-name .icon-loupe {
    display: block !important;
    width: 10%;
    margin: 1rem;
  }
  .my-work .container .box .work-name .icon-loupe svg {
    width: 100%;
    height: 100%;
    fill: #ffffffd8;
  }
  .my-work .container .box .work-detail span {
    font-size: 1.2rem !important;
  }
  .my-work .container .box .work-detail .icon-go-hub {
    width: 17% !important;
  }
  .my-work .container .box .work-detail .icon-go-invision, .my-work .container .box .work-detail .icon-go-details {
    width: 9% !important;
  }

  .my-footer > :nth-child(1) {
    font-family: "Marck Script", cursive;
    font-size: 1.5rem;
    display: block !important;
  }
}
@media (min-width: 992px) {
  header.masthead {
    min-height: 40rem;
    padding-top: 4.5rem;
    padding-bottom: 0;
  }
}
@media (max-width: 995px) {
  #mainNav {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
    background-color: #fff !important;
    transition: background-color 0.4s ease;
  }
}
.section-mywe {
  margin-top: 5rem;
  margin-bottom: 5rem;
  padding: 3em;
  position: relative;
}
.section-mywe .container-fluid .description-mywe {
  font-size: 1.2rem;
  letter-spacing: 2px;
  white-space: pre-line;
}
.section-mywe .container-fluid .title-mywe {
  text-transform: uppercase;
  font-size: 2.5em;
  font-weight: 500;
  letter-spacing: 4px;
}
.section-mywe .container-fluid .title-whatsnight, .section-mywe .container-fluid .title-sketchs {
  font-size: 2em;
  font-weight: 500;
  letter-spacing: 4px;
  text-align: left;
  margin-top: 4rem;
}
.section-mywe .container-fluid .divider {
  width: 120px;
  border-width: 0.2rem;
  border-color: #ae1b1b;
}
.section-mywe .container-fluid .divider-whatsnight, .section-mywe .container-fluid .divider-sketchs {
  width: 60vw;
  border-width: 0.2rem;
  border-color: #ae1b1b;
  margin-left: 9%;
  max-width: 470px;
  margin-bottom: 3%;
}
.section-mywe .container-fluid .previous-app {
  display: flex;
  width: 90%;
  padding: 5px 0;
  box-sizing: border-box;
  height: auto;
  margin: 0 auto;
}
.section-mywe .container-fluid .previous-app .box {
  flex: 1;
  display: flex;
  overflow: hidden;
  transition: 0.5s;
  margin: 0% 5px;
  line-height: 0;
  box-shadow: 3px 2px 9px #1e1f1b73;
}
.section-mywe .container-fluid .previous-app .box img {
  width: 150%;
  object-fit: cover;
  transition: 0.5s;
}
.section-mywe .container-fluid .previous-app .box:hover {
  flex: 1 1 50%;
}
.section-mywe .container-fluid .previous-app .box:hover > img {
  width: 100%;
  height: 100%;
}
.section-mywe .container-fluid .sketch-app {
  margin-top: 3rem;
  margin-bottom: 5rem;
}
.section-mywe .container-fluid .sketch-app .col img {
  height: 100%;
}
.section-mywe .container-fluid .div-mywe {
  display: flex;
  height: 50vh;
  margin-top: 4rem;
  transition: 0.5s;
  overflow: hidden;
  position: relative;
  border-radius: 5px;
}
.section-mywe .container-fluid .div-mywe img {
  width: 100%;
  object-fit: cover;
}
.section-mywe .container-fluid .div-mywe:hover {
  cursor: pointer;
}
.section-mywe .container-fluid .div-mywe:hover .mywe-text {
  opacity: 0;
}
.section-mywe .container-fluid .div-mywe:hover .mywe-overlay {
  opacity: 1;
  transition: 0.5s;
}
.section-mywe .container-fluid .div-mywe .mywe-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
  opacity: 1;
  background-color: #00000026;
}
.section-mywe .container-fluid .div-mywe .mywe-text span {
  padding: 3px 9px;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-family: "Karla", sans-serif;
  border-radius: 5px;
  font-size: 1.5rem;
}
.section-mywe .container-fluid .div-mywe .black-text {
  color: black;
  background-color: #ffffffde;
}
.section-mywe .container-fluid .div-mywe .white-text {
  color: white;
  background-color: #000000cf;
}
.section-mywe .container-fluid .div-mywe .mywe-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.3s ease;
  background-color: rgba(0, 0, 0, 0.582);
}
.section-mywe .container-fluid .div-mywe .mywe-overlay img {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50%;
  height: 50%;
  object-fit: contain;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
.section-mywe .container-fluid .div-mywe .mywe-overlay span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  padding: 3px 9px;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-family: "Karla", sans-serif;
  border-radius: 5px;
  font-size: 1.5rem;
}
.section-mywe .container-fluid .div-mywe:hover {
  opacity: 1;
}

/*# sourceMappingURL=style-mywe.css.map */
