@media (min-width: 500px) {
  .masthead .svg-header .standing {
    display: inline !important;
    width: 16%;
    margin-right: 7%;
  }
  .masthead .svg-header .standing-sm {
    display: none;
  }
}
@media (min-width: 780px) {
  .masthead .svg-header .illustration {
    display: inline !important;
    width: 47%;
  }
  .masthead .svg-header .standing {
    width: 9% !important;
    margin-right: 6% !important;
  }
  .masthead .svg-header .standing2 {
    width: 13% !important;
    margin-left: 5% !important;
  }
}
@media (min-width: 992px) {
  header.masthead {
    min-height: 40rem;
    padding-top: 4.5rem;
    padding-bottom: 0;
  }
}
@media (max-width: 995px) {
  #mainNav {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
    background-color: #fff !important;
    transition: background-color 0.4s ease;
  }
}
body {
  font-family: "Rubik", sans-serif !important;
}

#mainNav .container {
  font-family: "Handlee", cursive;
}
#mainNav .container .navbar-brand {
  color: #171819;
  font-size: 2.3rem;
  width: 230px;
}
#mainNav .container .navbar-brand img {
  width: 15%;
  margin-right: 10px;
  min-width: 60px;
}
#mainNav .container .navbar-brand span {
  vertical-align: sub;
}
#mainNav .container .navbar-collapse {
  font-size: 1.4em;
  flex-basis: 100%;
  flex-grow: 1;
  align-items: center;
}
#mainNav .container .navbar-collapse .nav-link {
  color: rgba(18, 17, 17, 0.93);
  margin-right: 5px;
}
#mainNav .container .navbar-collapse .nav-link:hover {
  color: #ffffffd4;
}

#mainNav {
  box-shadow: none;
  background-color: transparent;
  transition: background-color 0.4s ease;
}
#mainNav .navbar-nav .nav-item .nav-link:hover {
  color: #ae1b1b;
}

#mainNav.navbar-scrolled {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  background-color: #fff;
  transition: background-color 0.4s ease;
}

.avatar-moi {
  border-radius: 50%;
  border: 3px solid rgba(226, 221, 221, 0.945);
  width: 150px;
  margin-bottom: 15px;
}

header.masthead {
  padding-top: 6rem;
  padding-bottom: 4rem;
  background: linear-gradient(to bottom, rgba(212, 200, 191, 0.8) 0%, #E12626 110%), url("../img/masthead.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  min-height: 100vh;
  position: relative;
}

.masthead .text-masthead {
  font-family: "Karla", sans-serif;
}
.masthead .pic-text {
  min-height: 391px;
}
.masthead .divider {
  width: 120px;
  border-width: 0.2rem;
  border-color: #ae1b1b;
}
.masthead .text-presentation {
  font-size: 1.1em;
  color: #232121;
}
.masthead .btn-decouvrir {
  padding: 1.25rem 2.25rem;
  border-radius: 10rem;
  text-transform: uppercase;
  background-color: #800808;
  border-color: #800808;
  color: white;
  transition: 0.25s;
  margin-bottom: 1.5rem;
}
.masthead .btn-decouvrir:hover {
  box-shadow: 0px 10px 7px #800808ad;
  transform: translateY(-0.3em);
}
.masthead .svg-header .illustration, .masthead .svg-header .standing {
  display: none;
}
.masthead .svg-header .standing-sm {
  width: 16%;
  margin-right: 7%;
}
.masthead .svg-header .standing2 {
  width: 23%;
  margin-left: 5%;
  transform: rotateY(180deg);
}

.section-chiffres {
  padding: 3em;
  background-color: #F4F2F2;
  position: relative;
}
.section-chiffres .container-fluid .title-chiffres {
  text-transform: uppercase;
  font-size: 2.5em;
  font-weight: 500;
}
.section-chiffres .container-fluid .divider {
  width: 120px;
  border-width: 0.2rem;
  border-color: #ae1b1b;
}
.section-chiffres .container-fluid .div-chiffres {
  display: flex;
  justify-content: space-around;
  margin-top: 4rem;
  flex-wrap: wrap;
}
.section-chiffres .container-fluid .div-chiffres .div-counter {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  text-transform: uppercase;
  max-width: 30%;
  font-weight: 300;
  letter-spacing: 2px;
  min-width: 240px;
  margin: 20px;
}
.section-chiffres .container-fluid .div-chiffres .div-counter :nth-child(1) {
  font-weight: 500;
  font-size: 2.5rem;
}
.section-chiffres .container-fluid .div-chiffres .div-counter :nth-child(2) {
  color: #ae1b1b;
  font-size: 2rem;
}
.section-chiffres .container-fluid .div-chiffres .div-counter :nth-child(2) > img {
  width: 2rem;
  vertical-align: text-top;
}

.my-parcours {
  padding: 3em;
  position: relative;
}
.my-parcours .container-fluid .title-parcours {
  text-transform: uppercase;
  font-size: 2.5em;
  font-weight: 500;
}
.my-parcours .container-fluid .divider {
  width: 120px;
  border-width: 0.2rem;
  border-color: #ae1b1b;
}
.my-parcours .container-fluid .div-parcours {
  margin-top: 4rem;
  padding-left: 3rem;
  border-left: 3px solid #ae1b1b;
}
.my-parcours .container-fluid .div-parcours div:nth-child(odd) {
  text-align: left;
}
.my-parcours .container-fluid .div-parcours div:nth-child(even) {
  text-align: right;
}
.my-parcours .container-fluid .div-parcours .div-lp {
  margin-top: 0 !important;
}
.my-parcours .container-fluid .div-parcours .div-school {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 2px;
  min-width: 240px;
  margin: 3rem 0;
  text-align: center;
}
.my-parcours .container-fluid .div-parcours .div-school :nth-child(1) {
  font-weight: 400;
  font-size: 2.3rem;
}
.my-parcours .container-fluid .div-parcours .div-school :nth-child(2) {
  color: #804444;
  font-size: 1.3rem;
}
.my-parcours .container-fluid .div-parcours .div-school :nth-child(3) {
  color: #ae1b1b;
  font-size: 1.7rem;
}
.my-parcours .container-fluid .div-parcours .div-school .icon-school {
  width: 2.3rem;
  vertical-align: text-top;
}

.title-experiences {
  padding: 1.3rem;
  background: linear-gradient(to right, #333333, #dd1818);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  position: relative;
  padding-bottom: 0.5rem;
}
.title-experiences .container-fluid .title-exp {
  text-transform: uppercase;
  font-size: 2.5em;
  font-weight: 500;
  color: #efefef;
}
.title-experiences .container-fluid .divider {
  width: 120px;
  border-width: 0.2rem;
  border-color: #efefef;
}

.experiences {
  padding: 3rem;
  position: relative;
}
.experiences .card {
  border-radius: 15px;
  margin-top: 5px;
}
.experiences .container #accordion .card-header:first-child {
  border-radius: 15px !important;
}
.experiences .container #accordion .card-header {
  cursor: pointer;
  overflow: hidden;
}
.experiences .container #accordion .header-onepoint {
  background-image: url("../img/onepoint.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  padding: 0;
}
.experiences .container #accordion .header-cnpe {
  background-image: url("../img/cnpe-cattenom.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  padding: 0;
}
.experiences .container #accordion .header-teletravail {
  background-image: url("../img/teletravail.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  padding: 0;
}
.experiences .container #accordion .title-society {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 150px;
  background-color: #000000ab;
  border-radius: 15px;
}
.experiences .container #accordion .title-society span {
  color: white;
  font-family: "Karla", sans-serif;
  text-transform: uppercase;
  font-size: 2.3rem;
  padding: 2rem;
  padding-bottom: 1rem;
  text-align: center;
  letter-spacing: 2px;
}
.experiences .container #accordion .card-body {
  font-family: "Karla", sans-serif;
}
.experiences .container #accordion .card-body .annee-exp {
  color: #ae1b1b;
}
.experiences .container #accordion .card-body .descr-exp {
  margin: 1.5rem;
  font-size: 1.1rem;
  letter-spacing: 1px;
}
.experiences .container #accordion .card-body .descr-exp ul {
  margin-top: 1rem;
}
.experiences .container #accordion .card-body .descr-exp ul li {
  margin-bottom: 0.6rem;
}

.title-work {
  padding: 1.3rem;
  background: linear-gradient(to right, #333333, #dd1818);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  position: relative;
  padding-bottom: 0.5rem;
  margin-top: 3rem;
}
.title-work .container .title-wrk {
  text-transform: uppercase;
  font-size: 2.5em;
  font-weight: 500;
  color: #efefef;
}
.title-work .container .divider {
  width: 120px;
  border-width: 0.2rem;
  border-color: #efefef;
}

.my-work {
  position: relative;
}
.my-work .container {
  margin-top: 4rem;
  margin-bottom: 6rem;
  display: flex;
  box-sizing: border-box;
}
.my-work .container .box {
  flex: 1;
  overflow: hidden;
  transition: 0.5s;
  margin: 0;
  height: 25vw;
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.1);
  position: relative;
}
.my-work .container .box:hover {
  flex: 1 1 50%;
  cursor: pointer;
}
.my-work .container .box:hover .work-detail {
  opacity: 1;
  transition: 0.5s;
}
.my-work .container .box:hover .work-name {
  opacity: 0;
}
.my-work .container .box:hover > img {
  width: 100%;
  height: 100%;
}
.my-work .container .box img {
  width: 200%;
  height: 100%;
  object-fit: cover;
  transition: 0.5s;
}
.my-work .container .box .work-name {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
  opacity: 1;
}
.my-work .container .box .work-name span {
  padding: 3px 9px;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-family: "Karla", sans-serif;
  border-radius: 5px;
}
.my-work .container .box .work-name :nth-child(1) {
  font-size: 1.8rem;
}
.my-work .container .box .work-name :nth-child(2) {
  font-size: 1.3rem;
  margin-top: 1rem;
  background-color: #ae1b1bd6;
  color: white;
}
.my-work .container .box .work-name .icon-loupe {
  width: 10%;
  margin: 1rem;
}
.my-work .container .box .work-name .icon-loupe svg {
  width: 100%;
  height: 100%;
  fill: #ffffffd8;
}
.my-work .container .box .work-detail {
  opacity: 0;
  transition: 0.5s;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #000000bf;
}
.my-work .container .box .work-detail span {
  padding: 10px;
  letter-spacing: 3px;
  font-family: "Rubik", sans-serif;
  border-radius: 5px;
  font-size: 1.8rem;
  color: white;
  width: 70%;
  font-weight: 400px;
  border: 2px solid white;
  background-color: #00000085;
}
.my-work .container .box .work-detail .icon-go-hub {
  width: 17%;
  margin: 1rem;
  display: flex;
}
.my-work .container .box .work-detail .icon-go-hub svg {
  width: 100%;
  height: 100%;
  fill: #ffffffe3;
  margin-left: 1rem;
}
.my-work .container .box .work-detail .icon-see-resume {
  width: 25%;
  margin: 1rem;
  display: flex;
}
.my-work .container .box .work-detail .icon-see-resume a {
  width: 100%;
  height: 100%;
}
.my-work .container .box .work-detail .icon-see-resume a svg {
  width: 100%;
  height: 100%;
  fill: #ffffffe3;
}
.my-work .container > :nth-child(1) {
  border-radius: 10px 0 0 10px;
}
.my-work .container > :nth-child(1) .work-name span {
  color: black;
  background-color: #fffc;
}
.my-work .container > :nth-child(2) {
  border-radius: 0 10px 10px 0;
}
.my-work .container > :nth-child(2) .work-name span {
  color: white;
  background-color: #000000cf;
}

.my-footer {
  position: fixed;
  width: 100%;
  background-color: white;
  padding: 5px;
  font-family: "Karla", sans-serif;
  box-shadow: 0 -3px 1rem rgba(0, 0, 0, 0.23);
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  bottom: 0;
}
.my-footer span {
  color: black;
}
.my-footer > :nth-child(1) {
  font-family: "Marck Script", cursive;
  font-size: 1.5rem;
}
.my-footer > :nth-child(2) {
  font-size: 0.9rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.my-footer > :nth-child(3) {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.my-footer > :nth-child(3) a {
  margin-left: 2rem;
  width: 1.3rem;
}
.my-footer > :nth-child(3) a svg {
  width: 100%;
}

.blur-filter {
  width: 100vw;
  height: 100vh;
  background-color: white;
  position: fixed;
  opacity: 75%;
  filter: blur(20px);
}

video {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
}

@keyframes color_change {
  0% {
    color: #fdb7dc;
  }
  25% {
    color: #79cbca;
  }
  50% {
    color: #79c2f3;
  }
  75% {
    color: #18ffff;
  }
  100% {
    color: #e9a5e5;
  }
}

/*# sourceMappingURL=style.css.map */
