@import 'medias.scss';

$primary-color: #ae1b1b;


// section mywe
.section-mywe {
    margin-top: 5rem;
    margin-bottom: 5rem;
    padding: 3em;
    position: relative;
    .container-fluid {
        .description-mywe {
            font-size: 1.2rem;
            letter-spacing: 2px;
            white-space: pre-line;
        }
        .title-mywe {
            text-transform: uppercase;
            font-size: 2.5em;
            font-weight: 500;
            letter-spacing: 4px;
        }
        .title-whatsnight, .title-sketchs {
            font-size: 2em;
            font-weight: 500;
            letter-spacing: 4px;
            text-align: left;
            margin-top: 4rem;
        }
        .divider {
            width: 120px;
            border-width: 0.2rem;
            border-color: $primary-color;
        }
        .divider-whatsnight, .divider-sketchs {
            width: 60vw;
            border-width: 0.2rem;
            border-color: $primary-color;
            margin-left: 9%;
            max-width: 470px;
            margin-bottom: 3%;
        }

        .previous-app {
            display: flex;
            width: 90%;
            padding: 5px 0;
            box-sizing: border-box;
            height: auto;
            margin: 0 auto;
            .box {
                flex: 1;
                display: flex;
                overflow: hidden;
                transition: .5s;
                margin: 0% 5px;
                line-height: 0;
                box-shadow: 3px 2px 9px #1e1f1b73;
                img {
                    width: 150%;
                    object-fit: cover; 
                    transition: .5s;
                }
            }
            .box:hover { flex: 1 1 50%; }
            .box:hover > img {
            width: 100%;
            height: 100%;
            }
        }

        .sketch-app {
            margin-top: 3rem;
            margin-bottom: 5rem;
            .col img {
                height: 100%;
            }
        }

        .div-mywe {
            display: flex;
            height: 50vh;
            margin-top: 4rem;
            transition: .5s;
            overflow: hidden;
            position: relative;
            border-radius: 5px;
            img {
                width: 100%;
                object-fit: cover;
            }
            &:hover {
                cursor: pointer;
                .mywe-text {
                   opacity: 0; 
                }
                .mywe-overlay {
                    opacity: 1;
                    transition: .5s;
                }
            }

            .mywe-text {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                text-align: center;
                width: 100%;
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                transition: .5s;
                opacity: 1;
                background-color: #00000026;
                span {
                    padding: 3px 9px;
                    text-transform: uppercase;
                    letter-spacing: 3px;
                    font-family: 'Karla', sans-serif;
                    border-radius: 5px;
                    font-size: 1.5rem;
                }

            }

            .black-text {
                color: black;
                background-color: #ffffffde;
            }
            .white-text {
                color: white;
                background-color: #000000cf;
            }

            .mywe-overlay {
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                height: 100%;
                width: 100%;
                opacity: 0;
                transition: .3s ease;
                background-color: rgba(0, 0, 0, 0.582);
                img {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    width: 50%;
                    height: 50%;
                    object-fit: contain;
                    transform: translate(-50%, -50%);
                    -ms-transform: translate(-50%, -50%);
                }
                span {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    -ms-transform: translate(-50%, -50%);
                    padding: 3px 9px;
                    text-transform: uppercase;
                    letter-spacing: 3px;
                    font-family: 'Karla', sans-serif;
                    border-radius: 5px;
                    font-size: 1.5rem;
                }
            }
            &:hover {
                opacity: 1;
            }
        }
    }
}

.my-mockups {
    margin-bottom: 7rem;
    .mockup {
        padding: 0;
    }
}

// fin section mywe